body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
    color: #444444;
}

ul {
    margin: 0;
}

.bg-steel, .submit-btn {
    background-color: #c1e57a;
}

.submit-btn:hover{
  background-color: #8de544;

}

/*.site-header .navbar-nav .nav-link {*/
/*color: #d3dbda;*/
/*}*/

.navbar-dark .navbar-nav .nav-link {
    font-size: 1.1rem;
    color: rgba(245, 252, 255, 0.97);
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

/*.navbar-brand {*/
    /*color: ghostwhite;*/
    /*font-size: 1.5rem;*/
/*}*/

.navbar-dark .navbar-brand {
    color: ghostwhite;
    font-size: 1.5rem;
}


.article-content {
    white-space: pre-line;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.image-enter{
    height: 115px;
    width: 175px;
    margin-right: 116px;
}

.user-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

/*.account-img {*/
    /*height: 125px;*/
    /*width: 125px;*/
    /*margin-right: 20px;*/
    /*margin-bottom: 16px;*/
/*}*/

.account-heading {
    font-size: 2.5rem;
}