<form action="/create_new" method="post" name="create_user">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="validationServer01">First name</label>
            <input type="text" class="form-control" name="first_name"
                   id="validationServer01" placeholder="First name"
                   required>
        </div>
        <div class="col-md-4 mb-3">
            <label for="validationServer02">Last name</label>
            <input type="text" class="form-control" name="last_name"
                   id="validationServer02" placeholder="Last name"
                   required>
        </div>
        <div class="col-md-4 mb-3">
            <label for="validationServerUsername">Birth date</label>
            <div class="input-group">

                <input type="text" class="form-control" name="birth_date"
                       id="validationServerUsername" placeholder="Birth date"
                       aria-describedby="inputGroupPrepend3" required>

            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-5 mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1"
                       id="validationServer03" name="marital_relationship">
                <label for="validationServer03">Marital Relationship</label>
            </div>
        </div>
        <br>

        <div class="col-md-3 mb-3">
            <label for="validationServer04">Phone</label>
            <input type="number" class="form-control" name="phone"
                   id="validationServer04" placeholder="Phone" required>
        </div>
        <div class="col-md-3 mb-3">
            <label for="validationServer05">Status</label>
            <input type="text" class="form-control" name="status"
                   id="validationServer05" placeholder="Status" required>

        </div>
        <div class="col-md-6 mb-3">
            <label for="validationServer06">Address</label>
            <input type="text" class="form-control" name="address"
                   id="validationServer06" placeholder="Address" required>
        </div>
        <div class="col-md-3 mb-3">
            <label for="validationServer07">Height</label>
            <input type="number" class="form-control" name="height"
                   id="validationServer07" placeholder="Height" required>
        </div>
        <div class="col-md-3 mb-3">
            <label for="validationServer08">Eye Color</label>
            <input type="text" class="form-control" name="eye_color"
                   id="validationServer08" placeholder="Eye Color" required>
        </div>
        {% if w_stuffs %}
        <div class="col-md-3 mb-3">
            <label for="validationServer09">Withdrawn Stuff</label>
            <select name="withdrawn_stuff" id="validationServer09" >
                <option value="">None</option>
                {% for w_stuff in w_stuffs %}
                <option value="{{ w_stuff['name'] }}"
                >{{ w_stuff.name }}
                </option>
                {% endfor %}
            </select>
        </div>
        {% endif %}
    </div>
    <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value=""
                   id="invalidCheck3" required>
            <label class="form-check-label" for="invalidCheck3">
                Agree to terms and conditions
            </label>
        </div>
    </div>
    <button class="btn  submit-btn" type="submit">Submit</button>
    <button class="btn btn-default cancel-btn" type="submit">Cancel</button>
</form>