<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/bootstrap-4.1.1/bootstrap.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/bootstrap-dialog/dialog-form.css') }}">

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/main.css') }}">

    <script src="{{ url_for('static', filename='js/jquery/jquery-3.1.0.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery/jquery-ui.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-4.1.1/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-dialog/bootstrap-dialog.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-dialog/dialog-form.js') }}"></script>

    <title>Democratic Borderline</title>

</head>
<body>
<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
            <a class="navbar-brand mr-4" href="/">Democratic Borderline</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarToggle" aria-controls="navbarToggle"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

        </div>
    </nav>
</header>
<main role="main" class="container">
    <div class="row">
        <div class="col-md-8">

            {% block page_content %}
            {% endblock %}

        </div>
        <div class="col-md-4">
            <div class="content-section">
                <h3>Our Clients</h3>
                {# <p class='text-muted'>The latest 10 peoples .#}
                <ul class="list-group">
                    <a href="/list_lasts">
                        <li class="list-group-item list-group-item-light">The
                            latest persons crossed the border
                        </li>
                    </a>

                </ul>
                </p>
            </div>
        </div>
    </div>
</main>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{{ url_for('static', filename='js/jquery/jquery-3.1.0.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery/jquery-ui.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-4.1.1/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-dialog/bootstrap-dialog.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-dialog/dialog-form.js') }}"></script>
</body>
</html>